.centered {
  position: absolute;
  top: 15vh;
  left: 35vw;
  width: 20%;
  padding: 80px 30px;
  -webkit-box-shadow: 0 0 22px 0 #000;
  box-shadow: 0 0 22px 0 #000;
  background-color: rgb(4, 42, 78);
  color: #fff;
  z-index: 10;
}
