.centered {
  border: 1px solid green;
  position: absolute;
  top: 15vh;
  left: 35vw;
  width: 30%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 22px 0px #000000; 
  box-shadow: 0px 0px 22px 0px #000000;
  z-index: 10;
}

.blured {
  
}